<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javashitang.blog.dao.HddpCategoryCustomMappingRuleMapper">
  <resultMap id="BaseResultMap" type="com.javashitang.blog.entity.HddpCategoryCustomMappingRule">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="category_level" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="category_type_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="category_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="custom_type_code" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="custom_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" />
      <arg column="last_modify_user" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="last_modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" />
      <arg column="is_del" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, category_level, category_type_code, category_type, custom_type_code, custom_type, 
    create_user, create_time, last_modify_user, last_modify_time, is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hddp_category_custom_mapping_rule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hddp_category_custom_mapping_rule
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.javashitang.blog.entity.HddpCategoryCustomMappingRule">
    insert into hddp_category_custom_mapping_rule (id, category_level, category_type_code, 
      category_type, custom_type_code, custom_type, 
      create_user, create_time, last_modify_user, 
      last_modify_time, is_del)
    values (#{id,jdbcType=BIGINT}, #{categoryLevel,jdbcType=INTEGER}, #{categoryTypeCode,jdbcType=VARCHAR}, 
      #{categoryType,jdbcType=VARCHAR}, #{customTypeCode,jdbcType=INTEGER}, #{customType,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastModifyUser,jdbcType=VARCHAR}, 
      #{lastModifyTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.javashitang.blog.entity.HddpCategoryCustomMappingRule">
    insert into hddp_category_custom_mapping_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="categoryLevel != null">
        category_level,
      </if>
      <if test="categoryTypeCode != null">
        category_type_code,
      </if>
      <if test="categoryType != null">
        category_type,
      </if>
      <if test="customTypeCode != null">
        custom_type_code,
      </if>
      <if test="customType != null">
        custom_type,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastModifyUser != null">
        last_modify_user,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="categoryLevel != null">
        #{categoryLevel,jdbcType=INTEGER},
      </if>
      <if test="categoryTypeCode != null">
        #{categoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryType != null">
        #{categoryType,jdbcType=VARCHAR},
      </if>
      <if test="customTypeCode != null">
        #{customTypeCode,jdbcType=INTEGER},
      </if>
      <if test="customType != null">
        #{customType,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyUser != null">
        #{lastModifyUser,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.javashitang.blog.entity.HddpCategoryCustomMappingRule">
    update hddp_category_custom_mapping_rule
    <set>
      <if test="categoryLevel != null">
        category_level = #{categoryLevel,jdbcType=INTEGER},
      </if>
      <if test="categoryTypeCode != null">
        category_type_code = #{categoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryType != null">
        category_type = #{categoryType,jdbcType=VARCHAR},
      </if>
      <if test="customTypeCode != null">
        custom_type_code = #{customTypeCode,jdbcType=INTEGER},
      </if>
      <if test="customType != null">
        custom_type = #{customType,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyUser != null">
        last_modify_user = #{lastModifyUser,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javashitang.blog.entity.HddpCategoryCustomMappingRule">
    update hddp_category_custom_mapping_rule
    set category_level = #{categoryLevel,jdbcType=INTEGER},
      category_type_code = #{categoryTypeCode,jdbcType=VARCHAR},
      category_type = #{categoryType,jdbcType=VARCHAR},
      custom_type_code = #{customTypeCode,jdbcType=INTEGER},
      custom_type = #{customType,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_user = #{lastModifyUser,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>